*.pyc
__pycache__/
../.venv/
../build/
flashlearn/dist/
*.egg-info/
../dist/
../todo.txt
../flashlearn.egg-info/
/flashlearn.egg-info/
/dist/
*.pyc
__pycache__/
../.venv/
../build/
flashlearn/dist/
*.egg-info/
../dist/
../todo.txt
../flashlearn.egg-info/
/flashlearn.egg-info/
/dist/
